h1 {
  font-family: "Oswald", sans-serif;
  color: #000000;
}

h2 {
  color: #fff;
}

h3 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  min-height: 1px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
}

.Logo img {
  border-radius: 25px;
}

.HellerHintergrund {
  background-image: url(./img/Hintergrund_Croissant_aufgehellt.webp);
  background-size: cover;
  background-position: center;
  min-height: 1px;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

/* ########################################################################## */
/* ########################### Home ################################## */
/* ########################################################################## */

.DunklerHintergrund {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./img/Hintergrund_Croissant_verdunkelt.webp);
  background-size: cover;
  min-height: 1px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}

.Anfangssatz {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  overflow-x: hidden;
}

.Anfangssatz button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #aa7d03;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.Anfangssatz span {
  background: #aa7d03;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.Anfangssatz button:hover span {
  width: 100%;
}

.Anfangssatz button:hover {
  border: none;
}

.parallax {
  transform-style: preserve-3d;
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 100%;
  height: 100%;
  background: black;
  line-height: 30px;
  font-weight: lighter;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 7%;
}

.parallax-content h1 {
  padding-top: 5%;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

.parallax-content p {
  padding-top: 5%;
  font-size: 1.5rem; /*rootem*/
  position: relative;
  text-align: center;
  color: #aa7d03;
  padding: 0 10% 10% 10%;
  background-color: #000;
  margin-bottom: 0px;
}

.parallax-content img {
  margin-top: 5%;
  border-radius: 25px;
}

@media screen and (max-width: 600px) {
  .parallax {
    transform-style: preserve-3d;
    z-index: 2;
    position: relative;
    width: 100%;
    top: 100%;
    height: 100%;
    background: black;
    line-height: 30px;
    font-weight: lighter;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .section h1 {
    font-size: 8rem;
  }
}
